<div class="container-fluid">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row ">
    <div class="col-md-6 col-sm-12 card1-height">
      <div class="content">
        <div class="form-group float_label">        
          <select formControlName="selectedOption" class="form-control" (change)="changeAcc($event)">
              <option *ngFor="let acc of accountData">{{acc.currency}}</option>
           </select>
          <label>From</label>
          <p *ngIf="!bankCurrency">Balance:<span >{{euroCurrency}} - {{euroBalance}}</span></p>
          <p *ngIf="bankCurrency">Balance:<span > {{bankCurrency}} - {{bankBalance}}</span></p>
        </div>
      </div>
      <div class="bulk_content1">
        <div class="form-group text-center">         
          <input readonly type="text" formControlName="balance" class="form-control input_element_bulk" [placeholder]="bankCurrency ? bankCurrency : 'EUR'" required #balance [value]="totalBalance">
          <p>No fee</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 card2-height" *ngIf="true">
      <div class="eclipse">
        <img src="../../../assets/images/eclipse.png">
        <img src="../../../assets/images/right-arrow-center.png" class="right_arrow">
      </div>

      <div class="bulk_content1 text-center">
        <img src="../../../assets/images/Group 1795.png" class="bulk_img_element">
        <p class="mb-0 mt-2">{{bulkPaymentList.length}} payments</p>
        <button type="submit" class="btn-link btn" (click)="editPayment()">Edit</button>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary continue_btn" (click)="paymentDetailsModal(template)">Continue</button>
    </div>
  </div>
  </form>
</div>
<ng-template #template>
  <div class="modal-body">
    <div class="alin">
      <div class='fnt_color'>
        <p><span *ngIf="bankCurrency">{{bankCurrency}}</span><span *ngIf="!bankCurrency">{{euroCurrency}}</span>-{{totalBalance}}</p>
        <p>{{bulkPaymentList.length}} payments</p>
      </div>
      <p class="inpt_color"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;Schedule</p>
        <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
          <div>      
        <div class="form-group float_label text-center">
            <input class="form-control input_element" formControlName="dateYMD" placeholder="YYYY-MM-DD">
            </div>
          </div>      
      <p>You can schedule this payment and add funds later</p>
      <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" formControlName="notify">
          <label class="form-check-label inpt_color">Notify recipient</label>
       </div>
      </form>
    </div>
    <div style="padding: 30px; background-color: #fafafa; margin-left:-15px; margin-right:-15px">
        <p class="prsn"> From 
            <span *ngIf="bankCurrency">{{bankCurrency}}</span><span *ngIf="!bankCurrency">{{euroCurrency}}</span>
            <span class="pull-right bal">Balance : 
            <span *ngIf="!bankCurrency">{{euroCurrency}} - {{euroBalance}}</span>
            <span *ngIf="bankCurrency">{{bankCurrency}} - {{bankBalance}}</span>
            </span>
         </p>
      <p class="prsn">To</p>
      <table class="modal_list_view">
        <tr *ngFor="let paymentlist of bulkPaymentList">
          <td style="width: 10%;"> <span class="itm_crcl">{{getShortName(paymentlist.full_name)}}</span></td>
          <td style="width:80%">
            <span class="lists">{{paymentlist.full_name}}</span>
            <p class="para1">{{paymentlist.currency}}</p>
          </td>
          <td style="width:0%">
          </td>
          <td style="width: 10%;"> <span class=" pull-right">{{paymentlist.currency}} {{paymentlist.balance}}</span> </td>
        </tr>
      </table>
      <p>Amount<span class="pull-right text_clr">{{totalBalance}}</span></p>
      <p>Transfer fee<span class="pull-right text_clr">No fee</span></p>
      <p>Total<span class="pull-right text_clr">{{totalBalance}}</span></p>
    </div>
    <div class="row">
      <div class="col-6 "><button (click)="modalRef.hide()" class="btn btn-outline-primary btn-block"
          data-dismiss="modal">Cancel</button></div>
      <div class="col-6 "><button class="btn btn-primary btn-block" (click)="bulkTransfer(amount)">Send
          funds</button></div>
    </div>
  </div>
</ng-template>
<ng-template #amount>
  <div class="modal-body modal_size">
    <div class="check_div">
      <img src="../../../../assets/images/tick_icon.png">
    </div>
    <h2 class="header_bar">Successfully sent</h2>
    <div class="header_para m_b_20"><span *ngIf="bankCurrency">{{bankCurrency}}</span><span *ngIf="!bankCurrency">{{euroCurrency}}</span>-{{totalBalance}}</div>
    <!-- <div class="header_para m_b_20">{{totalBalance}} to Jachson Hood -GBP012548753</div> -->
    <!-- <div class="row">
          <div class="col-md-6 md-offset-3">
              <button class="btn btn-primary btn-block">Continue</button>
          </div>
      </div> -->
    <div style="text-align: center;">
      <button class="btn btn-primary btn-block" (click)="continue()">Continue</button>
    </div>
  </div>
</ng-template>